/*=========== BASE ===========*/
:root {
    --primary-color: #461563;
    --primary-rgb: 70, 21, 99;
    --primary-hover: #612684;

    --secondary-color: #C98714;
    --secondary-rgb: 201, 135, 20;
    --secondary-hover: #a9710e;

    --shadow-primary: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    --shadow-hover: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

    --transition-default: .3s all ease-in-out;
    --size-theme: 14px
}

body {
    position: relative;
    width: 100%;
    color: var(--bs-gray-800);
    background-color: var(--bs-white);
    font: normal 400 var(--size-theme)/1.3 'Roboto', sans-serif;
}

a, a:hover, a:focus {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

button, button:hover, button:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
    cursor: pointer;
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

input,
select,
textarea {
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    outline: none !important;
    border-color: #66afe9 !important;
}

.transition-default {
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

.background-cover {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.object-fit-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.object-fit-contain {
    -o-object-fit: contain;
    object-fit: contain;
}

.index--1 {
    z-index: -1;
}

.index-1 {
    z-index: 1;
}

.index-2 {
    z-index: 2;
}

.index-3 {
    z-index: 3;
}

.index-4 {
    z-index: 4;
}

.index-5 {
    z-index: 5;
}

.index-10 {
    z-index: 10;
}

.primary-bg {
    background-color: var(--primary-color);
}

.primary-bg:hover {
    background-color: var(--primary-hover);
}

.primary-text {
    color: var(--primary-color);
}

.primary-text:hover {
    color: var(--primary-hover);
}

.secondary-bg {
    background-color: var(--secondary-color);
}

.secondary-bg:hover {
    background-color: var(--secondary-hover);
}

.secondary-text {
    color: var(--secondary-color);
}

.secondary-text:hover {
    color: var(--secondary-hover);
}

.button-theme {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 1em;
    color: var(--bs-white);
    background-color: var(--primary-color);
    padding: 8px 15px;
    border-radius: 4px;
    transition: var(--transition-default);
    overflow: hidden;
    line-height: 1.1;
}

.button-theme.button-theme_primary {
    background-color: var(--primary-color);
}

.button-theme.button-theme_primary:hover {
    background-color: var(--primary-hover);
}

.button-theme.button-theme_secondary {
    background-color: var(--secondary-color);
}

.button-theme.button-theme_secondary:hover {
    background-color: var(--secondary-hover);
}

.button-theme:hover {
    color: var(--bs-white);
}

.slider-theme {
    position: relative;
}

.slider-theme .slider-theme_actions .slider-theme_actions--prev,
.slider-theme .slider-theme_actions .slider-theme_actions--next {
    position: absolute;
    z-index: 2;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    -webkit-box-shadow: 0 2px 4px -2px rgba(24, 39, 75, 0.12), 0 4px 4px -2px rgba(24, 39, 75, 0.08);
    box-shadow: 0 2 4px -2px rgba(24, 39, 75, 0.12), 0 4px 4px -2px rgba(24, 39, 75, 0.08);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--bs-white);
    color: #27272A;
    border: none !important;
    font-size: 2em;
    padding: 8px 15px;
    transition: var(--transition-default);
}

.slider-theme .slider-theme_actions .slider-theme_actions--prev {
    left: -20px;
}

.slider-theme .slider-theme_actions .slider-theme_actions--next {
    right: -20px;
}

.slider-theme .slider-theme_actions .slider-theme_actions--prev:hover,
.slider-theme .slider-theme_actions .slider-theme_actions--next:hover {
    background-color: var(--primary-color);
    color: var(--bs-white);
}

.slider-theme .slider-theme_actions .slider-theme_actions--prev.swiper-button-disabled, .slider-theme .slider-theme_actions .slider-theme_actions--next.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.slider-theme .slider-theme_actions .slider-theme_actions--pagination {
    margin-top: 30px;
    position: relative;
    bottom: unset;
    left: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.slider-theme .slider-theme_actions .slider-theme_actions--pagination .swiper-pagination-bullet {
    margin: 0;
    height: 12px;
    width: 12px;
    transition: var(--transition-default);
}

.slider-theme .slider-theme_actions .slider-theme_actions--pagination .swiper-pagination-bullet:hover {
    opacity: .6;
    background-color: var(--bs-gray-600);
}

.slider-theme .slider-theme_actions .slider-theme_actions--pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

@media screen and (max-width: 991px) {
    .slider-theme .slider-theme_actions .slider-theme_actions--prev,
    .slider-theme .slider-theme_actions .slider-theme_actions--next {
        display: none;
    }
}

.section-gap {
    padding: 50px 0;
}

@media screen and (max-width: 1199px) {
    .section-gap {
        padding: 30px 0;
    }
}

.section-heading {
    gap: 10px;
    max-width: 768px;
    margin: 0 auto 40px;
}

.section-heading .title {
    font-size: 2em;
    line-height: 1.5;
    font-weight: 700;
    color: var(--bs-gray-900);
}

.section-heading .title span {
    color: var(--primary-color);
    background-color: rgba(var(--primary-rgb), 0.05);
    padding: 0 6px;
}

@media screen and (max-width: 1199px) {
    .section-heading {
        margin-bottom: 20px;
    }

    .section-heading .title {
        font-size: 1.6em;
        line-height: 1.3;
    }
}

/*=========== END BASE ===========*/

/*=========== HEADER ===========*/
.header.is-scroll {
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
}

.header .header-main {
    background: var(--primary-color);
}

.header .header-main .header-main_grid {
    gap: 25px;
}

.header .header-logo .header-logo_img {
    max-height: 50px;
}

.header .header-logo .header-logo_name {
    margin-left: 15px;
    font-weight: 700;
    color: var(--bs-white);
    font-size: 1.8em;
    margin-bottom: 0;
}

.header .header-navigation > ul {
    gap: 25px;
}

.header .header-navigation > ul > li > a {
    font-size: 1.05em;
    color: var(--bs-white);
    padding: 24px 0;
}

.header .header-navigation > ul > li > a > span {
    opacity: .9;
    transition: var(--transition-default);
}

.header .header-navigation > ul > li:hover > a > span {
    opacity: 1;
}

@media screen and (min-width: 1023px) {
    .header .header-navigation .navigation-has_sub > a {
        position: relative;
    }

    .header .header-navigation .navigation-has_sub > a:before {
        position: absolute;
        left: 50%;
        display: block;
        content: "";
        bottom: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff;
        transition: var(--transition-default);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .header .header-navigation .navigation-sub {
        position: absolute;
        right: 0;
        top: 100%;
        transition: var(--transition-default);
        background-color: var(--bs-white);
        box-shadow: 0 0.5rem 0.83rem 0 rgb(0 0 0 / 15%);
        padding: 30px 24px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: scale(0.9);
    }

    .header .header-navigation .navigation-has_sub:hover .navigation-sub {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: scale(1);
    }

    .header .header-navigation .navigation-has_sub:hover > a:before {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .header .header-navigation .navigation-sub .navigation-sub_wrap {
        display: flex;
        gap: 15px;
        min-width: calc(1116px / 2);
        max-width: 100%;
    }

    .header .header-navigation .navigation-sub .navigation-sub_item {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .header .header-navigation .navigation-sub .navigation-sub_item .sub-item_title {
        color: var(--bs-gray-800);
        font-weight: 700;
        font-size: 1.05em;
        min-width: 200px;
        width: 100%;
    }

    .header .header-navigation .navigation-sub .navigation-sub_item .sub-item_title > a {
        color: inherit;
    }

    .header .header-navigation .navigation-sub .navigation-sub_item .sub-item_title > a:hover {
        color: var(--primary-color);
    }

    .header .header-navigation .navigation-sub .navigation-sub_item .sub-item_column {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .header .header-navigation .navigation-sub .navigation-sub_item .sub-item_column > a {
        color: var(--bs-gray-700);
        font-size: 1.05em;
        align-self: flex-start;
        min-width: 200px;
        max-width: 220px;
    }

    .header .header-navigation .navigation-sub .navigation-sub_item .sub-item_column > a:hover {
        color: var(--primary-color);
    }
}

@media screen and (max-width: 1023px) {
    .header .header-main .header-main_grid {
        padding: 10px 0;
        justify-content: space-between;
        position: static !important;
    }

    .header .header-logo .header-logo_img {
        max-height: 35px;
    }

    .header .header-logo .header-logo_name {
        font-size: 1.5em;
        margin-left: 10px;
    }

    .header .header-hamburger .hamburger {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: var(--transition-default);
    }

    .header .header-hamburger .hamburger:before,
    .header .header-hamburger .hamburger:after,
    .header .header-hamburger .hamburger > span {
        display: block;
        width: 24px;
        height: 2px;
        margin: 2.5px 0;
        background-color: var(--bs-white);
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }

    .header .header-hamburger .hamburger:before, .header .header-hamburger .hamburger:after {
        content: "";
    }

    .is-navigation .header .header-hamburger .hamburger > span {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 0;
    }

    .is-navigation .header .header-hamburger .hamburger:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: 4px;
    }

    .is-navigation .header .header-hamburger .hamburger:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -10px;
    }

    .is-navigation .header .header-navigation {
        transform: translateY(0);
    }

    .header .header-navigation {
        position: absolute;
        max-height: calc(100vh - var(--header-height));
        height: 100vh;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--bs-white);
        margin-left: 0;
        transition: .7s all ease-in-out;
        transform: translateY(-150%);
        z-index: -1;
    }

    .header .header-navigation > ul {
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        gap: 0;
    }

    .header .header-navigation > ul > li {
        width: 100%;
    }

    .header .header-navigation > ul > li > a {
        width: 100%;
        color: var(--bs-gray-900);
        padding: 15px;
        font-size: 1.3em;
        font-weight: 600;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .header-navigation > ul > li + li {
        border-top: 1px solid var(--bs-gray-200);
    }

    .header .header-navigation > ul > li.navigation-has_sub > a:after {
        display: inline-flex;
        vertical-align: middle;
        font-size: 1.6em;
        color: var(--bs-gray-900);
        content: "\f107";
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        transition: var(--transition-default);
        line-height: 0;
    }

    .header .header-navigation > ul > li.navigation-has_sub > a[aria-expanded=true] {
        color: var(--primary-color);
    }

    .header .header-navigation > ul > li.navigation-has_sub > a[aria-expanded=true]:after {
        transform: rotate(180deg);
        color: var(--primary-color);
    }

    .header .header-navigation .navigation-sub .navigation-sub_wrap {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        background: var(--bs-gray-100);
        border-top: 1px solid var(--bs-gray-200);
    }

    .header .header-navigation .navigation-sub .navigation-sub_item {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .header .header-navigation .navigation-sub .navigation-sub_item .sub-item_title {
        color: var(--bs-gray-800);
        font-weight: 700;
        font-size: 1.2em;
        width: 100%;
    }

    .header .header-navigation .navigation-sub .navigation-sub_item .sub-item_title > a {
        color: inherit;
    }

    .header .header-navigation .navigation-sub .navigation-sub_item .sub-item_title > a:hover {
        color: var(--primary-color);
    }

    .header .header-navigation .navigation-sub .navigation-sub_item .sub-item_column {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .header .header-navigation .navigation-sub .navigation-sub_item .sub-item_column > a {
        color: var(--bs-gray-700);
        font-size: 1.15em;
        align-self: flex-start;
        width: calc(50% - 15px);
    }

    .header .header-navigation .navigation-sub .navigation-sub_item .sub-item_column > a:hover {
        color: var(--primary-color);
    }

    .header .header-user .header-user_item .header-user_item-btn {
        width: 32px;
        height: 32px;
    }
}

/*=========== END HEADER ===========*/

/*=========== HERO ===========*/
.section-hero {
    padding: 70px 0;
}

.section-hero .hero-wrap {
    gap: 50px;
}

.section-hero .hero-wrap .hero-nav {
    z-index: 2;
    width: 70px;
    flex-shrink: 0;
}

.section-hero .hero-wrap .hero-nav > ul {
    gap: 15px;
}

.section-hero .hero-wrap .hero-nav > ul > li > a > svg {
    width: 100%;
    height: 70px;
}

.section-hero .hero-wrap .hero-nav > ul > li > a > svg .hero-nav_circle {
    stroke: #656565;
    fill: var(--bs-white);
    transition: var(--transition-default);
}

.section-hero .hero-wrap .hero-nav > ul > li > a > svg .hero-nav_line {
    transition: var(--transition-default);
    fill: #656565;
}

.section-hero .hero-wrap .hero-nav > ul > li.active > a > svg .hero-nav_circle,
.section-hero .hero-wrap .hero-nav > ul > li:hover > a > svg .hero-nav_circle {
    stroke: var(--primary-color);
    fill: var(--primary-color);
}

.section-hero .hero-wrap .hero-nav > ul > li.active > a > svg .hero-nav_line,
.section-hero .hero-wrap .hero-nav > ul > li:hover > a > svg .hero-nav_line {
    fill: var(--bs-white);
}

.section-hero .hero-wrap .hero-content {
    padding-right: 30px;
    gap: 25px;
    line-height: 1.5;
}

.section-hero .hero-wrap .hero-content .hero-content_title {
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1.2;
    color: var(--secondary-color);
}

.section-hero .hero-wrap .hero-content .hero-content_title span {
    color: #121212;
}

.section-hero .hero-wrap .hero-content .hero-content_desc,
.section-hero .hero-wrap .hero-content .hero-content_link {
    font-size: 1.1em;
    color: var(--bs-gray-800);
}

.section-hero .hero-wrap .hero-content > [class*=hero-content] {
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    opacity: 0;
}

.section-hero .hero-wrap .hero-content.animate > [class*=hero-content] {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    opacity: 1;
}

.section-hero .hero-wrap .hero-content.animate .hero-content_title {
    transition: opacity .7s ease-out, transform .7s ease-out;
    -webkit-transition: opacity .7s ease-out, transform .7s ease-out;
    -moz-transition: opacity .7s ease-out, transform .7s ease-out;
    -ms-transition: opacity .7s ease-out, transform .7s ease-out;
    -o-transition: opacity .7s ease-out, transform .7s ease-out;
}

.section-hero .hero-wrap .hero-content.animate .hero-content_desc {
    transition: opacity .7s ease-out, transform .7s ease-out;
    -webkit-transition: opacity .7s ease-out .7s, transform .7s ease-out .7s;
    -moz-transition: opacity .7s ease-out .7s, transform .7s ease-out .7s;
    -ms-transition: opacity .7s ease-out .7s, transform .7s ease-out .7s;
    -o-transition: opacity .7s ease-out .7s, transform .7s ease-out .7s;
}

.section-hero .hero-wrap .hero-content.animate .hero-content_link {
    -webkit-transition: opacity .7s ease-out 1.4s, transform .7s ease-out 1.4s;
    -moz-transition: opacity .7s ease-out 1.4s, transform .7s ease-out 1.4s;
    -ms-transition: opacity .7s ease-out 1.4s, transform .7s ease-out 1.4s;
    -o-transition: opacity .7s ease-out 1.4s, transform .7s ease-out 1.4s;
}

.section-hero .hero-image .hero-image_wrap {
    padding: 12px;
    border-radius: 12px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background: -webkit-linear-gradient(65deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 55%, rgba(40, 40, 40, 1) 55.5%, rgba(18, 18, 18, 1) 100%);
    background: linear-gradient(65deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 55%, rgba(40, 40, 40, 1) 55.5%, rgba(18, 18, 18, 1) 100%);
    box-shadow: 0 -0.75rem 2rem rgb(0 0 0 / 30%);
    -webkit-box-shadow: 0 -0.75rem 2rem rgb(0 0 0 / 30%);
    position: relative;
}

.section-hero .hero-image .hero-image_wrap .hero-image_camera {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 2;
    width: 8px;
    height: 8px;
}

.section-hero .hero-image .hero-image_wrap .hero-image_stand {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 2;
}

.section-hero .hero-image .hero-image_wrap .hero-image_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    border: 2px solid #656565;
    background: #656565;
    text-transform: uppercase;
    color: var(--bs-white);
    padding: 8px 50px 8px 25px;
    border-radius: 30px;
    font-size: 1.4em;
    letter-spacing: 2px;
    font-weight: 400;
    transition: var(--transition-default);
}

.section-hero .hero-image .hero-image_wrap .hero-image_button span {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    padding-left: 2px;
    transition: background-color .3s ease-in-out;
}

.section-hero .hero-image .hero-image_wrap .hero-image_button span svg {
    transform: rotate(90deg);
    width: 13px;
    height: 13px;
    transition: var(--transition-default);
}

.section-hero .hero-image .hero-image_wrap .hero-image_button:hover {
    background-color: rgba(var(--bs-white-rgb), 0.4);
    color: #121212;
}

.section-hero .hero-image .hero-image_wrap .hero-image_button:hover span {
    background: #121212;
}

.section-hero .hero-image .hero-image_wrap .hero-image_button:hover span svg {
    fill: var(--bs-white);
}

@media screen and (max-width: 768px) {
    .section-hero {
        padding-top: 30px;
        padding-bottom: 100px;
    }

    .section-hero .hero-wrap .hero-nav {
        display: none;
    }

    .section-hero .hero-wrap .hero-content .hero-content_title {
        font-size: 1.6em;
    }

    .section-hero .hero-wrap .hero-content .hero-content_desc, .section-hero .hero-wrap .hero-content .hero-content_link {
        font-size: 1.05em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .section-hero {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section-hero .hero-wrap {
        gap: 30px;
    }

    .section-hero .hero-wrap .hero-nav {
        width: 50px;
        display: block;
    }

    .section-hero .hero-wrap .hero-nav > ul > li > a > svg {
        height: 50px;
    }

    .section-hero .hero-wrap .hero-content .hero-content_title {
        font-size: 1.8em;
    }

    .section-hero .hero-wrap .hero-content .hero-content_desc, .section-hero .hero-wrap .hero-content .hero-content_link {
        font-size: 1.1em;
    }
}

/*=========== END HERO ===========*/

/*=========== TABLES ===========*/
.section-tables {
    background-color: #f7f8f9;
}

.table-inner {
    gap: 15px;
    padding: 10px;
    background-color: var(--bs-white);
    box-shadow: 0 1px 2px rgb(0 0 0 / 3%), 0 1px 3px rgb(0 0 0 / 6%) !important;
    border-radius: 8px;
}

.table-inner .table-tab {
    gap: 15px;
}

.table-inner .table-tab .table-sort {
    width: 170px;
    height: 40px;
    background-color: var(--bs-white);
    transition: var(--transition-default);
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: var(--bs-gray-800);
    font-weight: 500;
    border: 1px solid var(--bs-gray-500);
}

.table-inner .table-tab .table-sort:hover {
    background-color: var(--bs-gray-200);
}

.table-inner .table-tab .table-sort svg {
    width: 8px;
    margin-right: 8px;
    transition: var(--transition-default);
}

.table-inner .table-tab .table-sort[data-value=up] svg {
    fill: #038844;
}

.table-inner .table-tab .table-sort[data-value=down] svg {
    fill: #da1414;
    transform: rotate(180deg);
}

.table-inner .table-tab .table-sort.is-active[data-value=up] {
    background-color: #038844;
    border-color: transparent;
    color: var(--bs-white);
}

.table-inner .table-tab .table-sort.is-active[data-value=down] {
    background-color: #da1414;
    border-color: transparent;
    color: var(--bs-white);
}

.table-inner .table-tab .table-sort.is-active svg {
    fill: var(--bs-white);
}

.table-inner .table-wrap .table {
    font-size: 1.05em;
    margin-bottom: 0;
}

.table-inner .table-wrap .table thead th {
    font-size: .9em;
    font-weight: 500;
    color: var(--bs-gray-700);
    cursor: pointer;
}

.table-inner .table-wrap .table .table-column_sort svg {
    width: 6px;
    margin-right: 4px;
    transform: rotate(180deg);
    fill: var(--bs-gray-700);
    display: none;
}

.table-inner .table-wrap .table .table-column_sort.is-sort svg {
    display: inline-flex;
}

.table-inner .table-wrap .table th,
.table-inner .table-wrap .table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
    line-height: 1.5;
    color: var(--bs-gray-900);
}

.table-inner .table-wrap .table th {
    border-top: 0;
}

.table-inner .table-wrap .table .table-link {
    font-weight: 600;
    color: var(--primary-color);
}

.table-inner .table-wrap .table .table-link:hover {
    color: var(--primary-hover);
}

.table-inner .table-wrap .table .table-badge {
    color: #038844;
}

.table-inner .table-wrap .table .table-badge svg {
    width: 8px;
    margin-right: 2px;
    transition: var(--transition-default);
    fill: #038844;
}

.table-inner .table-wrap .table .is-highlight {
    font-weight: 700;
    background-color: rgba(var(--primary-rgb), 0.05);
}

.table-inner .table-wrap .table.table-down {
    display: none;
}

.table-inner .table-wrap .table.table-down .table-badge svg {
    fill: #da1414;
    transform: rotate(180deg);
}

.table-inner .table-wrap .table.table-down .table-badge {
    color: #da1414;
}

@media screen and (max-width: 768px) {
    .table-inner .table-wrap .table {
        font-size: 1em;
    }

    .table-inner .table-wrap .table th, .table-inner .table-wrap .table td {
        padding: 6px;
    }
}

/*=========== END TABLES ===========*/

/*=========== ICONS ===========*/
.icons-card {
    background-color: #fafafa;
    box-shadow: 2px 4px 25px #939393;
}

.icons-card .card-body .card-head {
    display: flex;
    gap: 15px;
}

.icons-card .card-body .card-head .card-icon {
    width: 40px;
    flex-shrink: 0;
}

.icons-card .card-body .card-head .card-title {
    width: 100%;
    margin-bottom: 0;
    font-size: 1.2em;
    line-height: 1.25;
}

.icons-card .card-body .card-sub {
    font-size: 1.05em;
    margin-top: 10px;
}

.icons-card .card-body .card-text {
    margin-top: 10px;
}

.icons-card:hover {
    box-shadow: 1px 2px 20px #c9c9c9;
    transform: translateY(-3px);
}

.icons-card:hover .card-body .card-head .card-title {
    color: var(--primary-hover);
}

/*=========== END ICONS ===========*/

/*=========== CORE ===========*/
.core-item .core-content {
    gap: 25px;
}

.core-item .core-content .core-content_title {
    color: var(--bs-gray-900);
    font-size: 1.5em;
    line-height: 1.3;
    font-weight: 700;
}

.core-item .core-content .core-content_title > span {
    color: var(--primary-color);
    background-color: rgba(var(--primary-rgb), 0.05);
    padding: 0 6px;
}

.core-item .core-content .core-content_desc,
.core-item .core-content .core-content_desc .core-content_desc--list {
    gap: 10px;
}

.core-item .core-content .core-content_desc .core-content_desc--list .content-desc_list--item {
    position: relative;
    font-size: 1.15em;
    line-height: 1.5;
    color: #232323;
    display: flex;
    gap: 8px;
}

.core-item .core-content .core-content_desc .core-content_desc--list .content-desc_list--item:before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    font-size: 12px;
    background-color: var(--primary-color);
    color: var(--bs-white);
    border-radius: 50%;
    font-family: "Font Awesome 5 Pro";
    content: "\f00c";
    font-weight: 300;
}

.core-item .core-content .core-content_link {
    font-size: 1.15em;
    color: #232323;
}

/*=========== END CORE ===========*/

/*=========== ARTICLE ===========*/
.section-article {
    background-color: #f7f8f9;
}

.article-card .card-body .card-time {
    margin-bottom: 8px;
    font-size: .9em;
    color: var(--bs-gray-600);
    opacity: .8;
}

.article-card .card-body .card-title {
    color: var(--bs-gray-900);
    font-size: 1.2em;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.article-card:hover .card-header .card-header_img {
    opacity: .8;
}

.article-card:hover .card-body .card-title {
    color: var(--primary-color);
}

/*=========== END ARTICLE ===========*/

/*=========== REVIEW ===========*/
.section-review .review-card .card-header > .card-header_img {
    width: 250px;
}

.section-review .review-card .card-body .card-text {
    font-size: 1.15em;
    line-height: 1.5;
    color: var(--bs-gray-900);
}

.section-review .review-card .card-body .card-title {
    margin-top: 15px;
    color: var(--bs-gray-900);
    font-size: 1.2em;
}

@media screen and (max-width: 991px) {
    .section-review .review-card .card-body .card-text {
        font-size: 1.05em;
    }
}

/*=========== END REVIEW ===========*/

/*=========== FAQ ===========*/
.section-faq {
    background-color: #f7f8f9;
}

.section-faq .faq-collapse {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-faq .faq-collapse .faq-collapse_item .faq-collapse_btn {
    width: 100%;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    gap: 15px;
    text-align: left;
    padding: 10px 15px;
    background-color: var(--bs-white);
    border: 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 3%), 0 1px 3px rgb(0 0 0 / 6%) !important;
    border-radius: 8px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.15em;
    line-height: 1.5;
}

.faq-collapse .faq-collapse_item .faq-collapse_btn[aria-expanded=true] i {
    transform: rotate(180deg);
}

.faq-collapse .faq-collapse_item .faq-collapse_btn i {
    font-size: 1.4em;
}

.faq-collapse .faq-collapse_item .faq-collapse_content {
    padding: 15px 15px 0;
    line-height: 1.6;
    color: #000;
    font-size: 1.1em;
}

.faq-collapse .faq-collapse_item .faq-collapse_content p:last-child,
.faq-collapse .faq-collapse_item .faq-collapse_content ul:last-child {
    margin-bottom: 0;
}

.faq-collapse .faq-collapse_item .faq-collapse_content ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 18px;
}

@media screen and (max-width: 991px) {
    .section-faq .faq-collapse .faq-collapse_item .faq-collapse_btn {
        font-size: 1.1em;
    }
}

/*=========== END FAQ ===========*/

/*=========== FOOTER ===========*/
.footer {
    background-color: #2a2b32;
    padding: 60px 0;
}

.footer .footer-wrap {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer .footer-logo_img {
    max-height: 50px;
}

.footer .footer-logo_name {
    margin-left: 15px;
    font-weight: 700;
    color: var(--bs-white);
    font-size: 1.8em;
    margin-bottom: 0;
}

.footer .footer-summary {
    gap: 15px;
    color: var(--bs-gray-400);
    font-weight: 300;
    line-height: 1.4;
}


.footer .footer-summary .footer-summary_sub {
    font-size: 1.2em;
    letter-spacing: 1px;
}

.footer .footer-summary .footer-summary_sub > a {
    color: inherit;
}

.footer .footer-summary .footer-summary_sub > a:hover {
    color: var(--secondary-color);
}

.footer .footer-nav {
    padding-left: 20px;
    gap: 25px;
}

.footer .footer-nav .footer-nav_list {
    gap: 10px;
}

.footer .footer-nav .footer-nav_list .footer-nav_list--item > a {
    color: var(--bs-gray-400);
}

.footer .footer-nav .footer-nav_list .footer-nav_list--item > a:hover {
    color: var(--secondary-color);
}

.footer .footer-subscribe > a {
    color: var(--secondary-color);
    font-size: 1.2em;
    letter-spacing: 1px;
    gap: 15px;
}

.footer .footer-subscribe > a > span {
    padding-top: 3px;
}

.footer .footer-subscribe > a > i {
    background-color: var(--secondary-color);
    border-radius: 0 7px 7px 0;
    color: var(--bs-white);
    padding: 7px;
}

.footer .footer-social {
    gap: 15px;
}

.footer .footer-social > span {
    font-size: 1.2em;
    letter-spacing: 1px;
}

.footer .footer-social .footer-social_list {
    gap: 20px;
}

.footer .footer-social .footer-social_list > a {
    font-size: 1.8em;
}

.footer .footer-social .footer-social_list > a svg {
    width: 25px;
    height: 25px;
}

.footer .footer-social .footer-social_list > a svg .bg-logo-st {
    fill: var(--secondary-color);
    transition: var(--transition-default);
}

.footer .footer-social .footer-social_list > a svg .letters-logo-st {
    fill: #2a2b32;
}

.footer .footer-social .footer-social_list > a:hover {
    color: var(--bs-white);
}

.footer .footer-social .footer-social_list > a:hover svg .bg-logo-st {
    fill: var(--bs-white);
}

.footer .footer-copyright {
    color: var(--bs-gray-400);
    font-weight: 300;
    line-height: 1.4;
    font-size: .9em;
}

.footer .footer-copyright a {
    color: inherit;
    font-weight: 700;
}

.footer .footer-copyright a:hover {
    color: var(--secondary-color);
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer .footer-social > span {
        font-size: 1em;
    }

    .footer .footer-social .footer-social_list {
        gap: 15px;
    }

    .footer .footer-social .footer-social_list > a {
        font-size: 1.5em;
    }

    .footer .footer-social .footer-social_list > a svg {
        width: 21px;
        height: 21px;
    }
}

@media screen and (max-width: 991px) {
    .footer {
        padding: 30px 0;
    }

    .footer .footer-summary .footer-summary_sub {
        font-size: 1em;
    }

    .footer .footer-nav {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .footer .footer-nav {
        flex-wrap: wrap;
        gap: 5px;
    }

    .footer .footer-nav .footer-nav_list {
        width: calc(50% - 5px);
        gap: 5px;
    }

    .footer .footer-subscribe {
        text-align: center;
    }

    .footer .footer-social {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .footer-social > span {
        align-self: center !important;
    }
}

/*=========== END FOOTER ===========*/